.cont{
 background-image: url(/docs/Images/bgito.jpg);
 background-color: #9A8B80;
 background-blend-mode: multiply;
 height:760px;
 background-repeat:no-repeat;
 background-size:140%;
 margin:-20px;
}

nav ul {
    list-style-type: none;
    background: #122034;
    color: white; 
    height:20px;
    padding:30px;
    gap:80px;
    
}
nav ul li {
    display: inline;
    margin: 0 15px;
    padding:30px; 
    margin-left:50px;  
}
nav a {
    color: white;
    text-decoration: none;
    font-size:20px;
}

a:hover {
    background-color: #F6C23A;
    color:#102752; 
    padding:5px;
    border-radius:7%;
}

.h {
    background-color: #F6C23A;
    color:#102752; 
    padding:5px;
    border-radius:7%;
}


.ham-menu{
    height:20px;
    width:20px;
    margin-bottom:3px;
    position:relative;
    cursor:pointer;
    top:-65px;
    left:890px;
}
.ham-menu span{
    height:2px;
    width:15px;
    background-color:white;
    border-radius: 7.5px;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    transition:.3s ease;
    z-index:15;
}

.ham-menu span:nth-child(1){
    top:25%;
}
.ham-menu span:nth-child(3){
    top:75%;
}
.ham-menu.active span:nth-child(1){
    top:50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.ham-menu.active span:nth-child(2){
    opacity:0;
}
.ham-menu.active span:nth-child(3){
    top:50%;
    transform:translate(-50%, -50%) rotate(-45deg);
}
.sidebar {
  position: fixed;
  top: 0;
  right:-300px;
  height: 100%;
  width: 250px;
  padding-top: 65px;
  z-index: 10;
  background-image:url(/docs/Images/scream.jpg);
  background-size:200%;
  background-repeat:no-repeat;
  background-color:#C2AF0A;
  background-blend-mode: multiply;
  box-shadow: -10px 0 10px rgb(0,0,0,0.1);
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  list-style: none;
  transition: right 0.3s ease;
}
.sidebar.active {
  right: 0;
}

.sidebar li {
  list-style: none;
  height: 54px;
  width: 100%;
}

.sidebar a {
  text-decoration:none;
  font-size: 20px;
  color: white;
  display: flex;
  padding: 15px 0px 15px 30px;
  transition: background-color 0.3s ease;
  transition: color 0.3s ease;
}

.a-bar:hover {
  background-color: rgba(20, 39, 82, 1);
  color: rgb(224,224,224);
}

.title{
  color:white;
  text-align: center;
  margin-top:-20px;
  margin-bottom: 20px;
  font-family: 'Brush Script MT', cursive;
  border: 3px solid #C69617;
  border-radius:100%;
  background-color:#122034;
}

.proj {
  height: 370px; /* Set the height of the container */
  overflow-y: scroll; /* Add vertical scroll bar */
  overflow-x: hidden; /* Hide horizontal scroll bar */
}

.proj{
  margin-bottom:15px;
  margin-left:40px;
  margin-right:40px;
  padding-top:30px;
  padding-left:50px;
  padding-right:50px;
  padding-bottom:10px;
  display:flex;
  flex-direction:column;
  gap:30px;
  border:solid #E8EAFF 3px;
}

.proj img{
  height:170px;
  width: 170px;
  border:solid 5px #CCD0FC;
}

.proj img:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: scale(1.15);
}

.row{
  display:flex;
  flex-direction:row;
  gap:50px;
}

.row1{
  display:flex;
  flex-direction:row;
  gap:50px;
  margin-left:200px;
  margin-bottom:20px;
}

.foot{
    background: #122034;
    color: white;
    bottom: 0px;
    height:215px;
    text-align:center;
    padding-top:20px;
    margin-top:0px;
}
 