.cont{
 background-image: url(/docs/Images/bgito.jpg);
 background-color: #9A8B80;
 background-blend-mode: multiply;
 height:760px;
 background-repeat:no-repeat;
 background-size:120%;
 margin:-20px;
}

nav ul {
    list-style-type: none;
    background: #122034;
    color: white; 
    height:20px;
    padding:30px;
    gap:80px;
    
}
nav ul li {
    display: inline;
    margin: 0 15px;
    padding:30px; 
    margin-left:50px;  
}
nav a {
    color: white;
    text-decoration: none;
    font-size:20px;
}

a:hover {
    background-color: #F6C23A;
    color:#102752; 
    padding:5px;
    border-radius:7%;
}

.h {
    background-color: #F6C23A;
    color:#102752; 
    padding:5px;
    border-radius:7%;
}

.ham-menu{
    height:20px;
    width:20px;
    margin-bottom:3px;
    position:relative;
    cursor:pointer;
    top:-65px;
    left:890px;
}
.ham-menu span{
    height:2px;
    width:15px;
    background-color:white;
    border-radius: 7.5px;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    transition:.3s ease;
    z-index:15;
}

.ham-menu span:nth-child(1){
    top:25%;
}
.ham-menu span:nth-child(3){
    top:75%;
}
.ham-menu.active span:nth-child(1){
    top:50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.ham-menu.active span:nth-child(2){
    opacity:0;
}
.ham-menu.active span:nth-child(3){
    top:50%;
    transform:translate(-50%, -50%) rotate(-45deg);
}
.sidebar {
  position: fixed;
  top: 0;
  right:-300px;
  height: 100%;
  width: 250px;
  padding-top: 65px;
  z-index: 10;
  background-image:url(/docs/Images/scream.jpg);
  background-size:200%;
  background-repeat:no-repeat;
  background-color:#AAA30F;
  background-blend-mode: multiply;
  box-shadow: -10px 0 10px rgb(0,0,0,0.1);
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  list-style: none;
  transition: right 0.3s ease;
}
.sidebar.active {
  right: 0;
}

.sidebar li {
  list-style: none;
  height: 54px;
  width: 100%;
}

.sidebar a {
  text-decoration:none;
  font-size: 20px;
  color: white;
  display: flex;
  padding: 15px 0px 15px 30px;
  transition: background-color 0.3s ease;
  transition: color 0.3s ease;
}

.a-bar:hover {
  background-color: rgba(20, 39, 82, 1);
  color: rgb(224,224,224);
}

.border{
  height:410px;
  width:100%;
}

.bor{
  border:solid 2px #F7F8FF ;
  height:380px;
  margin-left:40px ;
  margin-right:40px;
  gap:50px;
  display:flex;
  flex-direction:row;
}

.pfp{
  height:150px;
  width:150px;
  border-radius:100%;
  margin-left:80px;
  margin-top:100px;
  border:solid 4px #E0E0E1;
}

.pfp:hover{
  transform: scale(1.2);
  transition: 0.5s;
}

.vl{
  margin-top:30px;
  height:320px;
  width:0px;
  border:solid 1px #F5F5F5;
}

.rd{
  display:flex;
  flex-direction:column;
  gap:110px;
  margin-top:80px;
  margin-left:-50px;
}

.r1{
  height:0px;
  width:140px;
  border: solid 1px #F5F5F5;
}

.box{
  display:flex;
  flex-direction:column;
  gap:15px;
  margin-top:35px;
  margin-left:-50px;
}

.box img{
  height:90px;
  width:90px;
}

.b1{
  height:90px;
  width:450px;
  background-color:#122034;
  border:solid 2px #F5F5F5;
  color:white;
  display:flex;
  flex-direction:row;
  gap:5px;
  font-size:13px;
}

.b1 p{
  padding:4px;
  margin-top:1px;
}

.foot{
    background: #122034;
    color: white;
    bottom: 0px;
    height:215px;
    text-align:center;
    padding-top:20px;
    margin-top:0px;
}


 