body{
margin-top:-6px;
}

.cont{
 background-image: url(/docs/Images/bgito.jpg);
 background-color: #9A8B80;
 background-blend-mode: multiply;
 height:760px;
 background-repeat:no-repeat;
 background-size:120%;
 margin:-20px;
}

nav ul {
    list-style-type: none;
    background: #122034;
    color: white; 
    height:20px;
    padding:30px;
    gap:80px;
    
}
nav ul li {
    display: inline;
    margin: 0 15px;
    padding:30px; 
    margin-left:50px;  
}
nav a {
    color: white;
    text-decoration: none;
    font-size:20px;
}

a:hover {
    background-color: #F6C23A;
    color:#102752; 
    padding:5px;
    border-radius:7%;
}

.h {
    background-color: #F6C23A;
    color:#102752; 
    padding:5px;
    border-radius:7%;
}

.ham-menu{
    height:20px;
    width:20px;
    margin-bottom:3px;
    position:relative;
    cursor:pointer;
    top:-65px;
    left:890px;
}
.ham-menu span{
    height:2px;
    width:15px;
    background-color:white;
    border-radius: 7.5px;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    transition:.3s ease;
    z-index:15;
}

.ham-menu span:nth-child(1){
    top:25%;
}
.ham-menu span:nth-child(3){
    top:75%;
}
.ham-menu.active span:nth-child(1){
    top:50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.ham-menu.active span:nth-child(2){
    opacity:0;
}
.ham-menu.active span:nth-child(3){
    top:50%;
    transform:translate(-50%, -50%) rotate(-45deg);
}
.sidebar {
  position: fixed;
  top: 0;
  right:-300px;
  height: 100%;
  width: 250px;
  padding-top: 65px;
  z-index: 10;
  background-image:url(/docs/Images/scream.jpg);
  background-size:200%;
  background-repeat:no-repeat;
  background-color:#989214;
  background-blend-mode: multiply;
  box-shadow: -10px 0 10px rgb(0,0,0,0.1);
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  list-style: none;
  transition: right 0.3s ease;
}
.sidebar.active {
  right: 0;
}

.sidebar li {
  list-style: none;
  height: 54px;
  width: 100%;
}

.sidebar a {
  text-decoration:none;
  font-size: 20px;
  color: white;
  display: flex;
  padding: 15px 0px 15px 30px;
  transition: background-color 0.3s ease;
  transition: color 0.3s ease;
}

.a-bar:hover {
  background-color: rgba(20, 39, 82, 1);
  color: rgb(224,224,224);
}

.bor{
    border:solid #E4E4E4 5px;
    margin:30px;
    margin-top:0px;
    height:370px;
}

.body{
    display:flex;
    align-items:center;
    gap:170px;
    margin-top:0px;
    height: 300px;
    width: 100%;
    padding-left: 20px;
} 


.text{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:baseline;
    margin-left: 90px;
    margin-top: 50px;
    gap:0px;
    color:#E4E4E4;
}

.text h1{
   margin-top: 0px;
    font-size:50px;
    font-family:Times New Roman;
    margin-bottom:-20px;
    margin-top:10px;
    font-weight:700;
    text-shadow: 3 5 3 #372F2F;
    color:#E4E4E4;
}

h3{
    width:100px;
    font-size:20px;
    margin-top:0px;
    color:#E4E4E4;
    
}
.Imahe{
    height:220px;
    width:220px;
    margin-left:0px;
    margin-right:0px;
    border-radius:140px;
    cursor:pointer;
    margin-top:40px;
    border:solid 5px #A8A8A8;
}
.Imahe:hover{
    transform:scale(1.2);
    transition: 0.5s;
}

.icons{
    position: absolute;
    justify-content: center;
    right:60px;
    top:450px;
    width:85px;
    padding:5px;
    
}

.icons img{
  height:25px;
  width: 25px;
  filter: invert(100%);
}
    
.foot{
    background: #122034;
    color: white;
    bottom: 0px;
    height:215px;
    text-align:center;
    padding-top:20px;
    margin-top:0px;
}
 